.spot-details-container {
    display: flex;
    justify-content: center;
    margin-top: -2em;
}

.spot-details-wrapper {
    display: flex;
    flex-direction: column;
}

.spot-details-img {
    display: flex;
    border-radius: 5em;
    width: 720px;
    height: 390px;
    border-radius: .7em;
}

.spot-details-top-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.5em;
}

.spot-title {
    font-size: 18px;
    font-weight: 600;
}

.spot-description {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

.spot-details-bottom-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.spot-rating {
    margin-right: 20px;
    font-weight: bold;
}

.spot-num-reviews {
    margin-right: 20px;
}

.spot-location {
    margin-right: 20px;
}

.spot-price {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.spot-host-profile-pic {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.spot-host-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
    margin-bottom: 35px;
}

.host-profile-container {
    display: flex;
    align-items: center;
}

.spot-host-options-container {
    border: 1px solid rgb(213, 213, 213);
    border-radius: .5em;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(211, 210, 210);
    padding: 12px;
    margin-right: 3px;
}

.spot-host-title {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.spot-owner-options-title {
    margin-bottom: 8px;
    font-weight: bold;
}

.edit-button {
    margin-right: 8px;
}

.host-option-buttons {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.host-option-buttons:active {
    transform: scale(.97);
}

.review-details-container {
    border-top: 1px solid rgb(235, 228, 228);
    border-bottom: 1px solid rgb(235, 228, 228);
    margin-bottom: 60px;
}

.rating-review-container {
    display: flex;
    justify-content: left;
    margin-top: 26px;
    margin-bottom: 50px;
    font-size: 20px;
}

.rating {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.num-reviews {
    font-size: 20px;
    font-weight: bold;
}

.add-review-button {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 32.5em;
}

.add-review-button:active {
    transform: scale(.97);
}

.add-review-container:disabled {
    display: flex;
    align-items: column;
}

.add-review-disable-text {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
    margin-left: 23.3em;
}

.add-review-button:disabled {
    background: linear-gradient(0.25turn, gray, gray);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 32.5em;
    pointer-events: none;
}

.details-reviews-wrapper {
    margin-left: -25px;
}
