.spot-details-container {
    display: flex;
    justify-content: center;
    margin-top: -2em;
}

.spot-details-wrapper {
    display: flex;
    flex-direction: column;
}

.spot-details-img {
    display: flex;
    border-radius: 5em;
    width: 1040px;
    height: 560px;
    border-radius: .7em;
    object-fit: cover;
}

.spot-details-top-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.5em;
}

.spot-title {
    font-size: 18px;
    font-weight: 600;
}

.spot-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    margin-top: 3rem;
    border-top: 1px solid lightgray;
    padding-top: 2rem;
}

.spot-type-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.spot-description {
    width: 35rem;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: normal;

}

.spot-details-bottom-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.spot-rating {
    margin-right: 20px;
    font-weight: bold;
}

.spot-num-reviews {
    margin-right: 20px;
}

.spot-location {
    margin-right: 20px;
}

.spot-price {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.spot-host-profile-pic {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.spot-host-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.spot-host-container-left {
    display: flex;
    flex-direction: column;
}

.spot-host-container-right {
    display: flex;
    flex-direction: column;
}

.host-profile-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.spot-host-options-container {
    display: flex;
    border: 1px solid rgb(213, 213, 213);
    border-radius: .5em;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(211, 210, 210);
    padding: 14px;
    margin-right: 3px;
}

.spot-host-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 37rem;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

.stay-cover-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 37rem;
    margin-top: 25px;
    margin-left: 10px;
}

.stay-cover-title {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
}

.spot-owner-options-title {
    margin-bottom: 8px;
    font-weight: bold;
}

.host-option-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.host-option-buttons {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 10.5rem;
}

.host-option-buttons:active {
    transform: scale(.97);
}

.host-options-bookings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookings-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: .5em;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(211, 210, 210);
    padding: 1.5rem;
}

.booking-price-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-spot-price {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    color: gray;
}

.booking-num-reviews {
    color: gray;
}

.booking-input-container {
    margin-top: -15px;
}

.you-wont-be-charged {
    display: flex;
    justify-content: center;
}

.check-fee-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-details-container {
    border-top: 1px solid rgb(235, 228, 228);
    border-bottom: 1px solid rgb(235, 228, 228);
    margin-top: 30px;
    margin-bottom: 60px;
}

.rating-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 50px;
    font-size: 20px;
}

.overall-review-info {
    display: flex;
    flex-direction: row;
}

.rating {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.num-reviews {
    font-size: 20px;
    font-weight: bold;
}

.add-review-button {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 2rem;
}

.add-review-button:active {
    transform: scale(.97);
}

.add-review-container:disabled {
    display: flex;
    align-items: column;
}

.add-review-disable-text {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
    margin-left: 23.3em;
}

.add-review-button:disabled {
    background: linear-gradient(0.25turn, gray, gray);
    color: white;
    border: none;
    padding: 10px;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 32.5em;
    pointer-events: none;
}

.details-reviews-wrapper {
    margin-left: -25px;
}

.stay-cover-learn-more {
    text-decoration: underline;
    font-weight: bold;
}

.stay-cover-learn-more:hover {
    cursor: pointer;
}

.spot-plus-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid lightgray;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

.spot-plus-title-container {
    display: flex;
    justify-content: left;
}

.spot-plus-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stay-plus-pic {
    object-fit: cover;
    width: 65rem;
}
