/* components/DeleteSpot/Delete.css */

.delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  min-height: 6em;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue, sans-serif;
}


.delete-button {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  min-width: 9em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 2em;
  margin-left: 2em;
}

.delete-buttons-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.yes-button {
  margin-right: -2px;
}

.delete-button:active {
  transform: scale(.97);
}
