.create-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate-review-title {
    font-size: 20px;
}

.create-review-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-review-container-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 35px;
}

.spot-review-img {
    width: 420px;
    height: 280px;
    border-radius: 10px;
}

.create-review-spot-details-container {
    margin-left: 10px;
    margin-top: 10px;
}

.review-spot-name {
    margin-bottom: 5px;
}

.review-spot-location {
    margin-bottom: 5px;
}

.review-spot-owner {
    margin-bottom: 5px;
}

.create-review-container-right {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 50px;

}

.create-review-header-container {
    font-size: 18px;
    margin-top: -20px;
}

.create-review-errors {
    color: rgb(212, 24, 24);
    margin-bottom: 15px;
}

.create-review-label {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.create-review-form {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 25em;
    height: 20em;
}

textarea.review-input {
    border: 1px solid #d1cfcf;
    border-radius: 8px;
    min-width: 280px;
    min-height: 60px;
    max-width: 440px;
    max-height: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
}

textarea:focus {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px #719ECE;
}

.rating-input-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rating-input {
    outline: none;
    border: 1px solid #d1cfcf;
    border-radius: 8px;
    width: 21em;
    padding: 8px;
}

.review-input:focus {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px #719ECE;
}

.create-review-button {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 9em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    margin-right: 2em;
}

.create-review-button:active {
    transform: scale(.97);
}

.create-review-button:disabled {
    background: linear-gradient(0.25turn, grey, grey);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 9em;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    margin-right: 2em;
}
