.host-page-container {
  display: flex;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 4.5em;
  padding-top: -2px;
  overflow-x: hidden;
}

.host-page-left-conatiner {
  display: flex;
  align-items: center;
  min-width: 50%;
  min-height: 100%;
  background: linear-gradient(0.5turn, #CE277A, #451DA0);
}

.host-page-right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin-left: 45em;
  z-index: 2;
}

.form-el-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.welcome-message {
  position: relative;
  margin-left: 1.5em;
  margin-bottom: 3em;
  font-size: 40px;
  color: white;
}

.create-spot-title-container {
  padding: 10px;
}

.create-errors-container {
  color: rgb(212, 24, 24);
  margin-top: -15px;
}

.new-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 2em;
  margin-top: -20px;
}

.create-submit-button {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  min-width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 2em;
}

.create-submit-button:active {
  transform: scale(.97);
}

.create-submit-button:disabled {
  background: linear-gradient(0.25turn, grey, grey);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  min-width: 100%;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  margin-top: 2em;
}
