.edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35em;
    min-height: 42em;
}

.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    padding: 1.5em;
    margin-bottom: 2em;
}

.edit-form-input {
    min-width: 100%;
}

.edit-title-container {
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(224, 219, 219);
    min-width: 109%;
    margin-top: -1.8em;
    margin-bottom: 0.7em;
}

#edit-title {
    font-weight: 500;
}

.form-input {
    min-height: 3em;
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
}

.form-input.first {
    border-radius: .5em .5em 0px 0px;
    border-left: 1px solid #d1cfcf;
    border-right: 1px solid #d1cfcf;
    border-top: 1px solid #d1cfcf;
    border-bottom: none;
}

.form-input.middle {
    border-left: 1px solid #d1cfcf;
    border-right: 1px solid #d1cfcf;
    border-bottom: none;
    border-top: 1px solid #d1cfcf;
}

.form-input.last {
    border-radius: 0px 0px .5em .5em;
    border-left: 1px solid #d1cfcf;
    border-right: 1px solid #d1cfcf;
    border-bottom: 1px solid #d1cfcf;
    border-top: 1px solid #d1cfcf;
    margin-bottom: 0;
}

.edit-form-errors {
    margin-top: 20px;
    margin-bottom: -50px;
}

.edit-submit-button {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 39em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 80px;
}

.edit-submit-button:active {
    transform: scale(.97);
}

.edit-submit-button:disabled {
    background: linear-gradient(0.25turn, grey, grey);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 39em;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    margin-top: 2em;
    margin-bottom: 20px;
}
