.spots-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue, sans-serif;
}

.spots-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

img.spot-img {
    object-fit: cover;
    width: 270px;
    height: 260px;
    border-radius: .7em;
    margin-right: 2em;

}

.spot-info-container {
    width: 300px;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: 2em;
}

.spot-info-left {
    display: flex;
    max-width: 75%;
    min-height: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.spot-info-right {
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    justify-content: space-around;
    margin-right: 1em;
}

.star-icon {
    display: inline-flex;
    height: 15px;
    width: 15px;
    padding-right: 2px;
}

.price-container {
    display: inline-flex;
}
