nav.main-navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    margin-bottom: 2em;
    height: 4em;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(234, 229, 229);
}

.img {
    max-height: 100px;
    max-width: 100px;
}
