.become-host-link {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.host-hover-border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8em;
  min-height: 2em;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
}

.host-hover-border:active {
  transform: scale(.97);
}

.host-hover-border:hover {
  background-color: rgb(247, 243, 243);
  padding: 3px;
}

.right-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
  margin-right: -8px;
}

img.profile-icon{
  max-width: 1.8em;
  max-height: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
}

img.hamburger-icon{
  max-width: .9em;
  margin-top: 0;
  margin-bottom: 0;
}

ul.profile-list {
  list-style-type: none;
}

.profile-list-item {
  color: black;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 5px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 14em;
  background-color: white;
  box-shadow: 0px 0px 6px rgb(195, 195, 195);
  border-radius: .5em;
  top: 90%;
  right: 5%;
}

.profile-button-border {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-self: flex-end;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2.7em;
  box-sizing: border-box;
  padding: 0;
  min-height: 40px;
  min-width: 77px;
  transition: all .2s ease;
  cursor: pointer;
  margin-left: 15px;
}

.profile-button-border:hover{
  box-shadow: 1px 5px 5px rgb(195, 195, 195);
}

.profile-button-border:active {
  transform: scale(.97);
}

.hover-link {
  margin-left: -2em;
  cursor: pointer;
  padding: 2px;
}

.hover-link:hover {
  margin-left: -2em;
  background-color: rgb(216, 207, 207);
  padding: 2px;
}

.user-name-li {
  margin-bottom: -5px;
  font-weight: 600;
  color: #fd5b5f;
}

.logout-li {
  margin-top: 15px;
  margin-left: -2em;
}

.greeting-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: -28px;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}
